{% extends "layout.html" %}

{% block content %}
{% if className %}
<h3>UTC:&nbsp;{{ className }}.{{ testName }}</h3>
{% else %}
<h3>Display all results for a given unit test.</h3>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" action="{{ url_for('query') }}">
            <div class="form-group">
                <label class="sr-only" for="classnameid">Class Name:</label>
                <input type="text" class="form-control" style="width:450px" id="classnameid" name="classname" placeholder="Classs Name" value="{{ className }}">
            </div>
            <div class="form-group">
                <label class="sr-only" for="testnameid">Test Name:</label>
                <input type="text" class="form-control" style="width:450px" id="testnameid" name="testname" placeholder="Test Name" value="{{ testName }}">
            </div>
            <div class="form-group">
                <label class="radio-inline ">
                    <input type="radio" name="branch" id="all" value="6%" checked> All
                </label>
                <label class="radio-inline">
                    <input type="radio" name="branch" id="dax62" value="6.2%"> AX2012 R2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="branch" id="dax63" value="6.3%"> AX2012 R3
                </label>
            </div>
            &nbsp;
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            {% if records %}
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Build</th>
                        <th>Date</th>
                        <th>Branch</th>
                        <th>Result</th>
                        <th>TFS Bug ID</th>
                        <th>Error Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a target="_blank" href="{{ url_for('detail', build=record['Build'])}}" >{{ record['Build'] }} </a></td>
                        <td>{{ record['Date'] }}</td>
                        <td>{{ record['Branch'] }}</td>
                        {% if record['Result'] == 'Passed' %}
                        <td class="success">{{ record['Result'] }}</td>
                        {% else %}
                        <td class="danger">{{ record['Result'] }}</td>
                        {% endif %}
                        <td>
                            {% if record['TFSBugID'] %}
                            <a href="http://vstfmbs:8080/tfs/MBS/DAXSE/_workitems/edit/{{ record['TFSBugID'] }}" >{{ record['TFSBugID'] }}</a>

                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>

                            {% if record['ErrorMessage'] %}
                            <a tabindex="0" class="btn btn-default" role="button" data-placement="left" data-toggle="popover" data-trigger="focus" title="{{ record['TestName'] }}" data-content="{{ record['ErrorMessage'] }}">View detailed Error</a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>

                    </tr>
                    {% else %}
                    No records found.
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
{% endblock %}